<include file="Admin/header" />
<include file="Admin/left" />

    <div id="main">
        <div class="header">
        </div>

        <div class="content">
            <h2 class="content-subhead"></h2>
            <form class="pure-form pure-form-stacked" method="post" action="{:U('categoryEdit')}">
                <fieldset>
                    <legend>编辑栏目</legend>

                    <label for="catname">栏目名称</label>
                    <input name="catname" type="text" placeholder="栏目名称" value="{$categoryItem.catname}">

                    <label for="type">栏目类型</label>
                    <select name="type">
                        <for start="0" end="4">
                            <option value="{$i}" <eq name="categoryItem.type" value="$i">selected</eq>>{$i|get_category_type_name}</option>
                        </for>
                    </select>

                    <label for="pid">父级栏目</label>
                    <select name="pid" id="pid">
                        <option value="0" <eq name="categoryItem.pid" value="0">selected</eq>>作为一级栏目</option>
                            
                        <!-- 一级栏目 -->
                        <php>$listCat1 = get_sub_category(0);</php>
                        <volist name="listCat1" id="vo" >
                            <option value="{$vo.id}" <eq name="categoryItem.pid" value="$vo['id']">selected</eq>>{$vo.catname}</option>
                            <!-- 二级栏目 -->
                            <php>$listCat2 = get_sub_category($vo['id']);</php>
                            <volist name="listCat2" id="vo2" >
                                <option value="{$vo2.id}" <eq name="categoryItem.pid" value="$vo2['id']">selected</eq>>|>-{$vo2.catname}</option> 
                                <!-- 一级栏目 -->
                                <php>$listCat3 = get_sub_category($vo2['id']);</php>
                                <volist name="listCat3" id="vo3" >
                                    <option value="{$vo3.id}">|>-|>-{$vo3.catname}</option>                        
                                </volist>                       
                            </volist>
                        </volist>
                    </select>

                    <label for="isnav1" class="pure-radio">
                        <input name="isnav" id="isnav1" type="radio" value="0" <eq name="categoryItem.isnav" value="0">checked</eq>> 否
                    </label>
                    <label for="isnav2" class="pure-radio">
                        <input name="isnav" id="isnav2" type="radio" value="1" <eq name="categoryItem.isnav" value="1">checked</eq>> 是
                    </label>

                    <input name="id" type="hidden" value="{$categoryItem.id}">
                    <button type="submit" class="pure-button pure-button-primary">提交</button>
                </fieldset>
            </form>
        </div>
    </div>

<include file="Admin/footer" />